[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pylatex = "==1.4.1"
python-i18n = {version = "==0.3.9", extras = ["yaml"]}

[dev-packages]

[requires]
python_version = "3.9"
